GCC_LogicWS/Web References/bseFCDO004/bseFCDO004.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="fConsultarDesembolso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="argFCDTRAMA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fConsultarDesembolsoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fConsultarDesembolsoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fConsultarDesembolsoSoapIn">
    <wsdl:part name="parameters" element="tns:fConsultarDesembolso" />
  </wsdl:message>
  <wsdl:message name="fConsultarDesembolsoSoapOut">
    <wsdl:part name="parameters" element="tns:fConsultarDesembolsoResponse" />
  </wsdl:message>
  <wsdl:portType name="bseFCDO004Soap">
    <wsdl:operation name="fConsultarDesembolso">
      <wsdl:input message="tns:fConsultarDesembolsoSoapIn" />
      <wsdl:output message="tns:fConsultarDesembolsoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bseFCDO004Soap" type="tns:bseFCDO004Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fConsultarDesembolso">
      <soap:operation soapAction="http://tempuri.org/fConsultarDesembolso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bseFCDO004Soap12" type="tns:bseFCDO004Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fConsultarDesembolso">
      <soap12:operation soapAction="http://tempuri.org/fConsultarDesembolso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bseFCDO004">
    <wsdl:port name="bseFCDO004Soap" binding="tns:bseFCDO004Soap">
      <soap:address location="http://localhost/fcdWS/bseFCDO004.asmx" />
    </wsdl:port>
    <wsdl:port name="bseFCDO004Soap12" binding="tns:bseFCDO004Soap12">
      <soap12:address location="http://localhost/fcdWS/bseFCDO004.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>