GCC_LogicWS/Web References/bseFCDO003/bseFCDO003.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="fConsultarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="argFCDTIPOCUENTA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="argFCDCODMONEDA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="argFCDCODTIENDA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="argFCDCODCATEGORIA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="argFCDNUMCUENTA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fConsultarCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fConsultarCuentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fConsultarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:fConsultarCuenta" />
  </wsdl:message>
  <wsdl:message name="fConsultarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:fConsultarCuentaResponse" />
  </wsdl:message>
  <wsdl:portType name="bseFCDO003Soap">
    <wsdl:operation name="fConsultarCuenta">
      <wsdl:input message="tns:fConsultarCuentaSoapIn" />
      <wsdl:output message="tns:fConsultarCuentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bseFCDO003Soap" type="tns:bseFCDO003Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fConsultarCuenta">
      <soap:operation soapAction="http://tempuri.org/fConsultarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bseFCDO003Soap12" type="tns:bseFCDO003Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fConsultarCuenta">
      <soap12:operation soapAction="http://tempuri.org/fConsultarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bseFCDO003">
    <wsdl:port name="bseFCDO003Soap" binding="tns:bseFCDO003Soap">
      <soap:address location="http://172.22.142.91/fcdWS/bseFCDO003.asmx" />
    </wsdl:port>
    <wsdl:port name="bseFCDO003Soap12" binding="tns:bseFCDO003Soap12">
      <soap12:address location="http://172.22.142.91/fcdWS/bseFCDO003.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>