GCC_LogicWS/Web References/UltIntegration/UltIntegration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLaunchInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strProcessName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLaunchInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLaunchInformationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objVarList" type="tns:ArrayOfVariable" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVariable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="tns:Variable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Variable">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="strVariableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="objVariableValue" type="tns:ArrayOfAnyType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LaunchProcessIncident">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strProcessName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSummary" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nIncidentNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="objVarList" type="tns:ArrayOfVariable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaunchProcessIncidentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LaunchProcessIncidentResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="nIncidentNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSummary" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nIncidentNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="objVarList" type="tns:ArrayOfVariable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitTaskResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="nIncidentNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSummary" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objVarList" type="tns:ArrayOfVariable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReturnTaskResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskStepName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskStepNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTaskStepNameResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strTaskStepName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strStepName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strProcessName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strAssignedUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strSummary" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nIncidentNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dStartTime" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="sFullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dEndTime" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTaskInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTaskInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objTaskInfo" type="tns:TaskInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTaskStatusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strTaskStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTaskVariables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTaskVariablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAllTaskVariablesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objVarList" type="tns:ArrayOfVariable" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskVariableValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strVariableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskVariableValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTaskVariableValueResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objVariableValue" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskRangeVariableValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strVariableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskRangeVariableValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTaskRangeVariableValuesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objVariableValues" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecificTaskVariables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strVariableNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSpecificTaskVariablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSpecificTaskVariablesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objVarList" type="tns:ArrayOfVariable" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUltimusTaskID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strProcessName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nIncidentNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strStepLabel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUltimusTaskIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUltimusTaskIDResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strTaskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitiateTaskInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strProcessName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitiateTaskInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInitiateTaskInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objTaskInfo" type="tns:TaskInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveTaskInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strProcessName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTaskInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaskInfo" nillable="true" type="tns:TaskInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetActiveTaskInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetActiveTaskInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objArrTaskInfo" type="tns:ArrayOfTaskInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserEmailAddressResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strEmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobFunctionGroupUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJobFunctionGroupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strJobFunction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strEmailAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetJobFunctionGroupUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetJobFunctionGroupUsersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="arrObjUserInfo" type="tns:ArrayOfUserInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubordinateUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubordinateUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSubordinateUsersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="arrObjUserInfo" type="tns:ArrayOfUserInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByJobTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strJobTitle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByJobTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserInfoByJobTitleResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objUserInfo" type="tns:UserInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssociates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssociatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAssociatesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UsersNameAssociates" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullNameAssociates" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLaunchInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetLaunchInformation" />
  </wsdl:message>
  <wsdl:message name="GetLaunchInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetLaunchInformationResponse" />
  </wsdl:message>
  <wsdl:message name="LaunchProcessIncidentSoapIn">
    <wsdl:part name="parameters" element="tns:LaunchProcessIncident" />
  </wsdl:message>
  <wsdl:message name="LaunchProcessIncidentSoapOut">
    <wsdl:part name="parameters" element="tns:LaunchProcessIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitTaskSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitTask" />
  </wsdl:message>
  <wsdl:message name="SubmitTaskSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnTaskSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnTask" />
  </wsdl:message>
  <wsdl:message name="ReturnTaskSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnTaskResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskStepNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskStepName" />
  </wsdl:message>
  <wsdl:message name="GetTaskStepNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskStepNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskInfo" />
  </wsdl:message>
  <wsdl:message name="GetTaskInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskStatus" />
  </wsdl:message>
  <wsdl:message name="GetTaskStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTaskVariablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTaskVariables" />
  </wsdl:message>
  <wsdl:message name="GetAllTaskVariablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTaskVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskVariableValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskVariableValue" />
  </wsdl:message>
  <wsdl:message name="GetTaskVariableValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskVariableValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskRangeVariableValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskRangeVariableValues" />
  </wsdl:message>
  <wsdl:message name="GetTaskRangeVariableValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskRangeVariableValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecificTaskVariablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecificTaskVariables" />
  </wsdl:message>
  <wsdl:message name="GetSpecificTaskVariablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecificTaskVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUltimusTaskIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUltimusTaskID" />
  </wsdl:message>
  <wsdl:message name="GetUltimusTaskIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUltimusTaskIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetInitiateTaskInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInitiateTaskInfo" />
  </wsdl:message>
  <wsdl:message name="GetInitiateTaskInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInitiateTaskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveTaskInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveTaskInfo" />
  </wsdl:message>
  <wsdl:message name="GetActiveTaskInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveTaskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserEmailAddress" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobFunctionGroupUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobFunctionGroupUsers" />
  </wsdl:message>
  <wsdl:message name="GetJobFunctionGroupUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobFunctionGroupUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubordinateUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubordinateUsers" />
  </wsdl:message>
  <wsdl:message name="GetSubordinateUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubordinateUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByJobTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfoByJobTitle" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByJobTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoByJobTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssociatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssociates" />
  </wsdl:message>
  <wsdl:message name="GetAssociatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssociatesResponse" />
  </wsdl:message>
  <wsdl:portType name="UltIntegrationSoap">
    <wsdl:operation name="GetLaunchInformation">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the launch information (variable list) for a workflow process.</documentation>
      <wsdl:input message="tns:GetLaunchInformationSoapIn" />
      <wsdl:output message="tns:GetLaunchInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LaunchProcessIncident">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Launch an incident of a workflow process as the specified user.</documentation>
      <wsdl:input message="tns:LaunchProcessIncidentSoapIn" />
      <wsdl:output message="tns:LaunchProcessIncidentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTask">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">'Submit' a specific task to the workflow engine as the specified user.</documentation>
      <wsdl:input message="tns:SubmitTaskSoapIn" />
      <wsdl:output message="tns:SubmitTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnTask">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">'Return' a specific task to the workflow engine as the specified user.</documentation>
      <wsdl:input message="tns:ReturnTaskSoapIn" />
      <wsdl:output message="tns:ReturnTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskStepName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Passed a unique task id, return the workflow step name</documentation>
      <wsdl:input message="tns:GetTaskStepNameSoapIn" />
      <wsdl:output message="tns:GetTaskStepNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Passed a unique task id, return the a structure containing all relevant task info</documentation>
      <wsdl:input message="tns:GetTaskInfoSoapIn" />
      <wsdl:output message="tns:GetTaskInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskStatus">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Passed a unique task id, the status of the task</documentation>
      <wsdl:input message="tns:GetTaskStatusSoapIn" />
      <wsdl:output message="tns:GetTaskStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskVariables">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve all spreadsheet variables for a specific task from the workflow engine.</documentation>
      <wsdl:input message="tns:GetAllTaskVariablesSoapIn" />
      <wsdl:output message="tns:GetAllTaskVariablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskVariableValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve the value for a single named spreadsheet variable for a task from the workflow engine.</documentation>
      <wsdl:input message="tns:GetTaskVariableValueSoapIn" />
      <wsdl:output message="tns:GetTaskVariableValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskRangeVariableValues">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve spreadsheet variable values for a ranged-based variable for a task from the workflow engine.</documentation>
      <wsdl:input message="tns:GetTaskRangeVariableValuesSoapIn" />
      <wsdl:output message="tns:GetTaskRangeVariableValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificTaskVariables">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve specific named spreadsheet variables for a task from the workflow engine.</documentation>
      <wsdl:input message="tns:GetSpecificTaskVariablesSoapIn" />
      <wsdl:output message="tns:GetSpecificTaskVariablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUltimusTaskID">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Utility method to find and return the unique Ultimus Task ID for a given step name of a workflow process, based on process name, inicident number, and step name</documentation>
      <wsdl:input message="tns:GetUltimusTaskIDSoapIn" />
      <wsdl:output message="tns:GetUltimusTaskIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInitiateTaskInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a data table containing task information</documentation>
      <wsdl:input message="tns:GetInitiateTaskInfoSoapIn" />
      <wsdl:output message="tns:GetInitiateTaskInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveTaskInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a data table containing task information</documentation>
      <wsdl:input message="tns:GetActiveTaskInfoSoapIn" />
      <wsdl:output message="tns:GetActiveTaskInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailAddress">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the email address for a named user</documentation>
      <wsdl:input message="tns:GetUserEmailAddressSoapIn" />
      <wsdl:output message="tns:GetUserEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobFunctionGroupUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return user information for all users in a named Job Function Group</documentation>
      <wsdl:input message="tns:GetJobFunctionGroupUsersSoapIn" />
      <wsdl:output message="tns:GetJobFunctionGroupUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubordinateUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return user information for all subordinates of a named user in a named department</documentation>
      <wsdl:input message="tns:GetSubordinateUsersSoapIn" />
      <wsdl:output message="tns:GetSubordinateUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByJobTitle">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return user information for all subordinates of a named user in a named department</documentation>
      <wsdl:input message="tns:GetUserInfoByJobTitleSoapIn" />
      <wsdl:output message="tns:GetUserInfoByJobTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociates">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return user's associates for a user given</documentation>
      <wsdl:input message="tns:GetAssociatesSoapIn" />
      <wsdl:output message="tns:GetAssociatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UltIntegrationSoap" type="tns:UltIntegrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLaunchInformation">
      <soap:operation soapAction="http://tempuri.org/GetLaunchInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaunchProcessIncident">
      <soap:operation soapAction="http://tempuri.org/LaunchProcessIncident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTask">
      <soap:operation soapAction="http://tempuri.org/SubmitTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTask">
      <soap:operation soapAction="http://tempuri.org/ReturnTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskStepName">
      <soap:operation soapAction="http://tempuri.org/GetTaskStepName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskInfo">
      <soap:operation soapAction="http://tempuri.org/GetTaskInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskStatus">
      <soap:operation soapAction="http://tempuri.org/GetTaskStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskVariables">
      <soap:operation soapAction="http://tempuri.org/GetAllTaskVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskVariableValue">
      <soap:operation soapAction="http://tempuri.org/GetTaskVariableValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskRangeVariableValues">
      <soap:operation soapAction="http://tempuri.org/GetTaskRangeVariableValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificTaskVariables">
      <soap:operation soapAction="http://tempuri.org/GetSpecificTaskVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUltimusTaskID">
      <soap:operation soapAction="http://tempuri.org/GetUltimusTaskID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitiateTaskInfo">
      <soap:operation soapAction="http://tempuri.org/GetInitiateTaskInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveTaskInfo">
      <soap:operation soapAction="http://tempuri.org/GetActiveTaskInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailAddress">
      <soap:operation soapAction="http://tempuri.org/GetUserEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobFunctionGroupUsers">
      <soap:operation soapAction="http://tempuri.org/GetJobFunctionGroupUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubordinateUsers">
      <soap:operation soapAction="http://tempuri.org/GetSubordinateUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByJobTitle">
      <soap:operation soapAction="http://tempuri.org/GetUserInfoByJobTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociates">
      <soap:operation soapAction="http://tempuri.org/GetAssociates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UltIntegration">
    <wsdl:port name="UltIntegrationSoap" binding="tns:UltIntegrationSoap">
      <soap:address location="http://s129va/UltIntegrationV71/UltIntegration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>